header nav {
    height: 80px;
    background-color: #2c3e50;
}

#jumbotron {
    padding-top: 80px;
}

section img {
    width: 200px;
}

.row.ms_avatar, #ms_about {
    background-color: #1abc9c;
}

img.rounded {
    width: 400px;
}

.btn-outline-success.ms_btn-clear {
    border-color: white;
    color: white;
}

.navbar-toggler {
    border-color: white !important;
}

.navbar-toggler-icon {
    filter: invert(100%);
}

.ms_wrapper_60 {
    width: 60%;
    margin: 0 auto;
}

form div.mb-3 input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid gray;
    border-radius: 0;
}

.ms_message_form {
    padding-bottom: 100px;
}

footer {
    background-color: #3a546d;
}

.ms_footer-bottom {
    background-color: #2c3e50;
}

.dash {
    display: inline-block;
    height: 5px;
    width: 73px;
    background-color: white;
    margin: 6px;
    border-radius: 5px;
}

.dash.dash-black {
    background-color: #2c3e50;
}